
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    font-family: Arial, sans-serif;
    margin-bottom: 1%;
}

.navbar-title {
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    color: #333;
}
.navbar-right {
    justify-self: end;
    margin-right: 2%;
}


button {
    margin-top: 5px;
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

button:hover {
    opacity: 0.8;
}

